{% extends "template.html" %}
{% block main %}
<link rel="stylesheet" href="/static/css/addproject.css">
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
     <a class="navbar-brand" href="/"><img id="logo" src="/static/res/whitelogo.png"/></a>
   </div>
   <div class="navbar-collapse collapse">
     <div class="nav navbanr-nav navbar-right">
       <a href="/logout" class="btn btn-primary btn-lg logout">Log out</a>
     </div>
   </div>
 </div>
</div>

<form class="form-add" method="post" action="{% url 'reimbursement.views.add_project' %}">
  {% csrf_token %}
  <h2 class="form-add-heading">Add Project</h2>
  <input name="name" type="text" class="form-control project-name" placeholder="Project name" autofocus>
  <h4>Expense</h4>
  <div class="expenses">
  <input name="amount" type="text" class="form-control" placeholder="Amount">
  <input name="description" type="text" class="form-control" placeholder="Description">
  </div>
  <button class="btn btn-lg btn-default btn-block add-expense" type="button">+ Add expense</button>
  <button class="btn btn-lg btn-primary btn-block submit" type="submit">Submit</button>
</form>

</div>


<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
var numExpenses=0;
$('.add-expense').click(function() {
  numExpenses++;
  $('.expenses').append('<h4>Expense %d</h4><input name="amount" type="text" class="form-control" placeholder="Amount"><input name="description" type="text" class="form-control" placeholder="Description">'.replace(/%d/g, numExpenses+1)); 
});
</script>


{% endblock main %}
