{% extends "template.html" %}
{% block main %}
<link rel="stylesheet" href="/static/css/individual.css">

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img id="logo" src="/static/res/whitelogo.png"/></a>
		</div>
		<div class="navbar-collapse collapse">
			<div class="nav navbar-nav navbar-right">
				<a href="/logout" class="btn btn-primary btn-lg logout">Log out</a>
			</div>
		</div>
	</div>
</div>

<h2>Welcome, {{ user }}!</h2>

<a href="/addproject"><button class="btn btn-lg btn-primary add-project">+ Add Project</button></a>

<div class="panel-group" id="accordion">
	{% for project in projects %}
	<div class="panel panel-default" data-toggle="collapse" data-target="#collapse" href="#collapse">
		<div class="panel-heading accordion-toggle">
			<h4 class="panel-title">
				{{ project.name}}
				
				<p class="pull-right">Total: {{ project.total_cost }} </p>
			</h4>
		</div>
		<div id="collapse" class="panel-collapse">
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th>Description</th>
						<th>Cost</th>
						<th>Attachment</th>
					</tr>
					{% for expense in project.expenses %}
					<tr>
						<td>{{expense.name}}</td>
						<td>${{expense.cost}}</td>
						<td></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	{% endfor %} 
</div>



</div>

{% endblock main %}
