{% extends "template.html" %}
{% block main %}

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    <a class="navbar-brand" href="/"><img id="logo" src="{{ STATIC_URL}}res/whitelogo.png"/></a>
   </div>
 </div>
</div>

<form class="form-signup" method="post" action="{% url 'reimbursement.views.signup_organization' %}">
  {% csrf_token %}
  <h2 class="form-signup-heading">Organization Sign Up</h2>
  <input name="email" type="text" class="form-control" placeholder="Email address" autofocus>
  <input name="password" type="password" class="form-control" placeholder="Password">
  <input name="name" type="text" class="form-control" placeholder="Organization">
  <input name="code" type="text" class="form-control" placeholder="Organization code">
  <p>Note: The organization code must be shared with employees to grant them access to reimbursements from your organization.</p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>

{% endblock main %}
