html {
    height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #eee;
    overflow-y: scroll;
}

#logo {
    margin-top: -5px;
    height: 30px;
    width: auto;
}

.logout {
    margin-top: -3px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #1a4e75;
}

.logout:hover {
    background-color: #2d6fa1;
}

.navbar .navbar-right {
    padding-top: 10px;
}

.navbar {
    background: #1a4e75;
    height: 30px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
    padding: 0 0 60px;
}

#footer {
    height: 30px;
}

.form-add {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-add .form-add-heading {
    text-align: center;
    margin-bottom: 10px;
}

.form-add .btn-default {
    margin-top: 20px;
}

.form-add p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.project-name {
    font-weight: bold;
    margin-bottom: 30px;
}

.form-add .btn-primary {
    background-color: #1a4e75;
}

.form-add .btn-primary:hover {
    background-color: #2d6fa1;
}

.submit {
    margin-top: 15px;
}

.add-expense {
    max-width: 370px;
    margin: 0 auto;
}
